<ul class="forks">
    {% for fork in forks %}
        <li class="forks">
            <div class="fork-content">
                <div class="project-author"> {{ fork.fork_name }} </div>
                <div class="project-body">{{ {"Last Committed Time": fork.last_committed_time.strftime('%Y-%m-%d %H:%M:%S'),
                                              "Total Changed File(s)": fork.total_changed_file_number,
                                              "Total Changed Line(s)": fork.total_changed_line_number } }}</div>
            </div>
            <hr>
        </li>
    {% endfor %}
</ul>
