{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block page_content %}
    <div class="page-header">
        <div class="project-info">
            <h1>{{ project.project_name }}</h1>
            {% if project.language %}<p>Language: {{ project.language }}</p>{% endif %}
            {% if project.fork_number %}<p>Fork Number: {{ project.fork_number }}</p>{% endif %}  
        </div>
    </div>
    <h3>Forks of {{ project.project_name }}</h3>
    <div class="forks-tabs">
        {% include "_forks.html" %}
    </div>
    {#
    <div class="pagination">
        {{ render_pagination(pagination, '.project_overview', projectname = project.project_name) }}
    </div>
    #}
{% endblock %}
