<ul class="forks">
    <table class="table">
        <colgroup>
            <col style="width:20%">
            <col style="width:5%">
            <col style="width:10%">
            <col style="width:10%">
            <col style>
            <col style="width:10%">
            <col style="width:10%">
        </colgroup>
        <thead>
            <tr>
                <th>
                    <p class="text-center">Fork Full Name</p>
                </th>
                <th>
                    <p class="text-center">Commits</p>
                </th>
                <th>
                    <a href="{{ url_for('main.project_overview', project_name=project.project_name, key_word=key_word, page=page, order='-total_changed_file_number') }}">        
                        Changed Files
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                    </a>
                </th>
                <th>
                    <a href="{{ url_for('main.project_overview', project_name=project.project_name, key_word=key_word, page=page, order='-total_changed_line_number') }}">
                        Changed Lines
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                    </a>
                </th>
                <th>
                    <p class="text-center">Key Words</p>
                </th>
                <th>
                    <a href="{{ url_for('main.project_overview', project_name=project.project_name, key_word=key_word, page=page, order='-last_committed_time') }}">        
                        Last Committed
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                    </a>
                </th>
                <th>
                    <a href="{{ url_for('main.project_overview', project_name=project.project_name, key_word=key_word, page=page, order='-created_time') }}">        
                        Created At
                        <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for fork in forks %}
            <tr>
                <td>
                    <p class="text-center">
                        <a href="{{ "https://github.com/" + fork.fork_name + "/compare" }}"> {{ fork.fork_name }} </a>
                    </p>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="commit_list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ fork.total_commit_number }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="commit_list">
                            {% for commit in fork.commit_list %}
                            <li>
                                <a href="{{ commit["link"] }}">
                                    {{ commit["title"] }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>                   
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="fork_chanegd_file_list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ fork.total_changed_file_number }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="fork_chanegd_file_list">
                            {% for file_name in fork.file_list %}
                            <li>
                                {% if all_changed_files[(fork.fork_name, file_name)].changed_line_number %}
                                    {% if marked_files %}
                                        {% if (fork.fork_name, file_name) in marked_files %}
                                            <a class="label-success" href="{{ all_changed_files[(fork.fork_name, file_name)].diff_link }}">
                                                {{ "+%d %s" % (all_changed_files[(fork.fork_name, file_name)].changed_line_number, file_name) }}
                                            </a>
                                        {% else %}
                                            <a class="label-default" href='{{ all_changed_files[(fork.fork_name, file_name)].diff_link }}'>
                                                {{ "+%d %s" % (all_changed_files[(fork.fork_name, file_name)].changed_line_number, file_name) }}
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ all_changed_files[(fork.fork_name, file_name)].diff_link }}">
                                            {{ "+%d %s" % (all_changed_files[(fork.fork_name, file_name)].changed_line_number, file_name) }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>

                <td>{{ fork.total_changed_line_number }}</td>
                
                <td>
                    {% if fork.key_words_lemmatize_tfidf %}
                        {{ ",".join(fork.key_words_lemmatize_tfidf[:10]) }}</td>
                    {% else %}
                        {{ ",".join(fork.key_words_tfidf[:10]) }}
                    {% endif %}
                </td>

                <td>{{ fork.last_committed_time.strftime('%Y-%m-%d') }}</td>

                <td>{{ fork.created_time.strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</ul>
