<ul class="projects">
    {% for project in projects %}
        <li class="project">
            <div class="project-content">
                 {% if current_user.is_authenticated %}
                        {% if project.project_name in current_user.followed_projects %}
                            <a type="button" class="btn btn-warning btn-xs pull-right" href="{{ url_for('.unfollowed_project', project_name = project.project_name)}}">
                                Remove
                            </a>
                        {% else %}
                            <a type="button" class="btn btn-success btn-xs pull-right" href="{{ url_for('.followed_project', project_name = project.project_name)}}">
                                Follow
                            </a>
                        {% endif %}
                {% endif %}

                <div class="form-inline">  
                    <div class="project-name">
                        <a href="{{ url_for('.project_overview', project_name = project.project_name) }}">
                            {{ project.project_name }}
                        </a>
                    </div>
                </div>

                {% if current_user.is_administrator %}
                    <a type="button" class="btn btn-default btn-xs" href="{{ url_for('.project_refresh', project_name = project.project_name)}}">
                        Refresh
                    </a>
                    <a type="button" class="btn btn-default btn-xs" href="{{ url_for('.delete_project', project_name = project.project_name)}}">
                        Delete
                    </a>
                    <div> {{ "Progress = %s" % project.analyser_progress }} </div>
                {% endif %}

                <div class="project-body">

                    <div class="project-info form-inline">
                        <div class="language"> Language:  <em>{{ project.language }}</em> &nbsp;&nbsp;</div>
                        <div class="github_fork_number"> Forks on Github:  <em>{{ project.fork_number }}</em> &nbsp;&nbsp;</div>
                        <div class="active_fork_number"> Active Fork:  <em>{{ project.activate_fork_number }}</em> &nbsp;&nbsp;</div>
                    </div>
                </div>
            </div>
        </li>
        <hr>
    {% endfor %}
</ul>