<div class="language"> Language: <em> {{ project.language }} </em>  &nbsp;&nbsp; </div>
<div class="github_fork_number"> Forked on GitHub: <em> {{ project.fork_number }} </em> &nbsp;&nbsp; </div>
<div class="active_fork_number">
  Active Forks:  
  {% if overview_flag %}
  <a href="#" data-toggle="tooltip" title="Forks having extra commits after forking">
    <em>{{ project.activate_fork_number }}</em>
  </a>
  {% else %}
    <em>{{ project.activate_fork_number }}</em>
  {% endif %}
  &nbsp;&nbsp; 
</div>

{% if overview_flag %}
<div class="analyzed_fork_number">
  Forks containing unmerged code:  
  <a href="#" data-toggle="tooltip"> <em>{{ forks.count() }}</em> </a>
  &nbsp;&nbsp; 
</div>
{% endif %}

<div class="last_analyzed_time">
  Last Analyzed:
  <em>
  {% if project.last_updated_time %}
      {{ project.last_updated_time.strftime('%Y-%m-%d %H:%M(UTC)') }}
  {% endif %}
  </em>
  &nbsp;&nbsp; 
</div>

