<ul class="projects">
    {% for project in projects %}
        <li class="project">
            <div class="project-content">

                <div class="project-name">
                    <a href="{{ url_for('.project_overview', project_name = project.project_name) }}">
                        {{ project.project_name }}
                    </a>

                    {% if project.analyser_progress != "100%" %}
                        <span class="badge badge-warning">Updating</span>
                    {% else %}
                        <span class="badge badge-success">Analysis Complete</span>
                    {% endif %}

                    {% if current_user.is_authenticated %}
                        {% if project.project_name in current_user.followed_projects %}
                        {% if current_user.followed_projects_time.get(project.project_name) %}
                        {% if (time_now - current_user.followed_projects_time.get(project.project_name, time_now)).days <= 1 %}
                            <span class="badge badge-pill badge-danger"> Newly Added </span>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    {% endif %}
                    
                </div>
                 {% if current_user.is_authenticated %}
                        {% if project.project_name in current_user.followed_projects %}
                            <button type="button" class="btn btn-outline-info btn-sm pull-right">
                                <a href="{{ url_for('.unfollowed_project', project_name = project.project_name)}}" style="color:inherit">Remove</a>
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-outline-primary btn-sm pull-right">
                                <a href="{{ url_for('.followed_project', project_name = project.project_name)}}" style="color:inherit">Follow</a>
                            </button>
                        {% endif %}
                {% endif %}

                {% if current_user.is_administrator %}
                    <button type="button" class="btn btn-outline-success btn-sm">
                        <a href="{{ url_for('.project_refresh', project_name = project.project_name)}}" style="color:inherit">Refresh</a>
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm">
                        <a href="{{ url_for('.delete_project', project_name = project.project_name)}}" style="color:inherit">Delete</a>
                    </button>
                    <div> {{ "Progress = %s" % project.analyser_progress }} </div>
                {% endif %}

                <div class="project-body">
                    <div class="project-info form-inline">
                        {% with overview_flag=False %}
                            {% include "_project_info.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </li>
        <hr>
    {% endfor %}
</ul>
