{% macro render_pagination(pagination) %}
    <ul class="pagination pull-right">
        {% if pagination.has_prev %}
        <li class="page-item" >
        {% else %}
        <li class="page-item disabled" >
        {% endif %}
          <a class="page-link" href="{{ url_for_other_page(page=pagination.page-1) }}"> Previous </a>
        </li>

        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
            <li class="page-item">
            {% else %}
            <li class="page-item active">
            {% endif %}
              <a class="page-link" href="{{ url_for_other_page(page=page) }}">{{ page }}</a>
            </li>
          {% else %}
            <span class="ellipsis">…</span>
          {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li class="page-item">
        {% else %}
        <li class="page-item disabled" >
          {% endif %}
              <a class="page-link" href="{{ url_for_other_page(page=pagination.page+1) }}"> Next </a>
        </li>
    </ul>
{% endmacro %}
