<ul class="users">
    {% for user in users %}
        <li class="user">
            <div class="user-content">
                <div class="username">
                    {{ user.username }}
                </div>
                {% if current_user.is_administrator %}
                    <div class="email">
                        Email: {{ user.email }}
                    </div>
                    <div class="last-seen">
                        Last Login: {{ user.last_seen }}
                    </div>
                    <div class="status">
                        Status: {{ user.is_crawling }}
                    </div>
                    <div class="repo_waiting_list">
                        Waiting List: {{ user.repo_waiting_list }}
                    </div>
                    <div class="followed_projects">
                        Followed Projects : {{ ", ".join(user.followed_projects) }}
                    </div>    
                    
                    <a type="button" class="btn btn-default btn-xs" href="{{ url_for('main.delete_user', username = user.username) }}">
                        Delete
                    </a>
                {% endif %}
                <hr>
        </li>
    {% endfor %}
</ul>