{% extends "base.html" %}

{% block page_content %} 

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Index</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">About</a>
            </li>
        </ol>

        <div class="container">
            <div class="about-information">
                <div class="contact-info"> 
                    <h4> Contact </h4> 
                        <div> Email: fancycoder0@gmail.com </div>
                </div>
                <hr>
                <div class="github-link">
                    <h4> <a href="https://github.com/FancyCoder0/INFOX"> Project's Github Repo  </a> </h4>
                </div>
                <hr>
                <div class="people-list">
                    <h4> People </h4>
                    <div> </div><a href="https://drive.google.com/open?id=1ApEVBepDBSyaZiMxmUrpB3s-20vmRY-G">Luyao Ren</a> </div>
                    <div> Shurui Zhou </div>
                    <div> <a href="https://www.cs.cmu.edu/~ckaestne/"> Christian Kästner </a> </div>
                    <div> <a href="http://www.itu.dk/people/wasowski/"> Andrzej Wąsowski </a> </div>
                </div>                
            </div>            
        </div>

{% endblock %}


