{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block page_content %}
        <h1> INFOX </h1>
        <h4> Admin Manage</h4>
        <hr>
    <div class="row">
        <div class="col-sm-6">
            <div>
                Current crawlering: {{ ",".join(current_set) }}
            </div>
            <hr>
            {% include '_projects.html' %}
        </div>

        <div class="col-sm-4">
            {% include '_users.html' %}
        </div>

    </div>

{% endblock %}}