{% include "_head.html" %}

{% block javascript %}
    {% include "_js.html" %}
{% endblock %}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    {% include "_nav.html" %}

    <div class="content-wrapper">

        {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ message[0] }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message[1] }}
            </div>
        {% endfor %}

        <div class="container-fluid">
            {% block page_content %} {% endblock %}
        
            <script type="text/javascript" src="{{ url_for('static', filename='js/sb-admin.min.js') }}"></script>
        </div>
    </div>
</body>

