{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block page_content %} 

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Add repositories</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Discover</a>
        </li>
    </ol>

    <h3 class="text-center">Repos Overview</h3>

    <div class="col-lg-2">
        {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
    </div>

    <div class="card mb-3">
        {% include "_projects.html" %}
        <div class="pagination">
            {{ render_pagination(pagination, '.discover') }}
        </div>
    </div>

{% endblock %}

