{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %} 

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Add repository</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Find repositories</a>
        </li>
    </ol>

    <div class="row">
        <div class="col-md-2">
          <h3 class="text-center"> Find repositories on GitHub </h3>
        </div>
        <div class="col-md-4">
            
            {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
        </div>
        
        <div class="col-md-4">
            <h4 class="text-center">Hot Repos in INFOX</h4>
            {% include "_projects.html" %}
            
            {% from "_render_pagination.html" import render_pagination %}
            {{ render_pagination(pagination) }}
        </div>
    </div>

{% endblock %}

