{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %} 

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Add repository</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Find repositories</a>
        </li>
    </ol>

    <div class="row">
        <div class="col-md-2">
          <h3 class="text-center"> Find repositories on Github </h3>
        </div>
        <div class="col-md-4">
            
            {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
        </div>
        
        <div class="col-md-4">
            <h4 class="text-center">Hot Repos in INFOX</h4>
            {% include "_projects.html" %}


            <ul class="pagination pull-right">
                {% if pagination.has_prev %}
                <li class="page-item" >
                {% else %}
                <li class="page-item disabled" >
                {% endif %}
                  <a class="page-link" href="{{ url_for('main.find_repos', page=pagination.page-1) }}"> Previous </a>
                </li>

                {% for page in pagination.iter_pages() %}
                  {% if page %}
                    {% if page != pagination.page %}
                    <li class="page-item">
                    {% else %}
                    <li class="page-item active">
                    {% endif %}
                      <a class="page-link" href="{{ url_for('main.find_repos', page=page) }}">{{ page }}</a>
                    </li>
                  {% else %}
                    <span class="ellipsis">…</span>
                  {% endif %}
                {% endfor %}
                {% if pagination.has_next %}
                <li class="page-item">
                {% else %}
                <li class="page-item disabled" >
                  {% endif %}
                      <a class="page-link" href="{{ url_for('main.find_repos', page=pagination.page+1) }}"> Next </a>
                </li>
              </ul>
              
        </div>
    </div>

{% endblock %}

