{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block page_content %} 

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Add repositories</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Find repositories</a>
        </li>
    </ol>

    <div class="row">
        <div class="col-md-6">
            {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
        </div>

        <div class="col-md-4">
            <h3 class="text-center">Hot Repos in INFOX</h3>
            {% include "_projects.html" %}
            <div class="pagination">
                {{ render_pagination(pagination, 'main.find_repos') }}
            </div>
        </div>
    </div>

{% endblock %}

