{% extends "base.html" %}

{% block page_content %} 
	<div class="row">
        <div class="col-md-2">
          <h3 class="text-center"> Welcome </h3>
        </div>
        <div class="col-md-6">
        		To get started, try add some repositories to your followed list.
        		<br>
        		<br>
            <a href="{{ url_for('main.load_from_github') }}" class="btn btn-primary">Import your repository</a>
	    			<a href="{{ url_for('main.find_repos') }}" class="btn btn-primary">Search on GitHub</a>
        </div>
  </div>
{% endblock %}
