{% extends "base.html" %}

{% block page_content %} 

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Guide</a>
        </li>
    </ol>

    <div class="card">
	  <div class="card-block">
	    <h4 class="card-title">Welcome to INFOX!</h4>
	    <p class="card-text">Now your followed repo(s) are empty. You can go to load page to add followed repo(s).</p>
	    <a href="{{ url_for('main.load_from_github') }}" class="btn btn-primary"> Load your Github repos</a>
	    <a href="{{ url_for('main.find_repos') }}" class="btn btn-primary"> Load other Github repos</a>
	  </div>
	</div>

{% endblock %}
