{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block page_content %}
    <div>
        <h1> Dashboard </h1>
    </div>
    
    <div class="row"></div><hr>
    
    <div class="col-md-6 projects-tabs">
        <div>
            <h4> All your followed repos in INFOX: </h4>
        </div>
        <hr>
        {% include '_projects.html' %}
        <div class="pagination">
        {{ render_pagination(pagination, '.index') }}
        </div>
    </div>
    
{% endblock %}
