
<head>
    <link rel="icon" href="{{ url_for('static', filename='img/fav.ico')}}" type="image/x-coin">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/docs.js') }}"></script>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-social.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/doc.css') }}" rel="stylesheet">

</head>

<body>
        <!-- Navigation Begin -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand" href="#">INTRUDE<sub>alpha</sub> - Identifying Redundant Development in Forks </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
         <!--    <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-block btn-social btn-github" onclick="" href="{{ url_for('auth.login') }}">
                      <span class="fa fa-github"></span> Sign in 
                    </a>
                </li>
                
              </ul>
            </div> -->
    
          </div>
        </nav>
        <!-- Navigation End -->

        <header class="masthead">
          <div class="overlay">
            <div class="container">
              <h1 class="display-1 text-white">INTRUDE<sub>alpha</sub></h1>
              <h2 class="display-4 text-white">Identifying Redundant Development in Forks</h2>
              <br><br>
              <!-- <p class="text-white">Redundant development wastes effort for both maintainers
and developers. INTRUDE is a GitHub bot to detect potentially redundant pull requests.
            </p> -->
            </div>
          </div>
        </header>
    
     
    
        <section>
          <div class="container">
           
 <!--            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="p-5">
                  <img class="img-fluid rounded" src="{{ url_for('static', filename='img/overview.png') }}" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="p-5">
                  <h3 class="display-5">Identifying Redundant Development in Forks</h3>
                  <p>Redundant development wastes effort for both maintainers
and developers. INTRUDE is a GitHub bot to detect potentially redundant pull requests.</p>
                </div>
              </div>
            </div> -->
       <!--      <div class="row align-items-center">
              <div class="col-md-6 order-2">
                <div class="p-5">
                  <img class="img-fluid rounded" src="{{ url_for('static', filename='img/Dup-amongOctocats.png') }}" alt="">
                </div>
              </div>
              <div class="col-md-6 order-1">
                <div class="p-5">
                  <h3 class="display-5">Label and Monitor Forks</h3>
                  <p>Identify and label forks with interesting activities, for example to scout for ideas and pull requests.
                  Monitor interesting forks to keep up with changes. Track the activity of an entire community on GitHub. Get started by <a href="{{ url_for('auth.login') }}">signing in</a> with your GitHub account.</p>
                </div>
              </div>
            </div> -->     
            <div class="row align-items-center">

              <div class="col-md-12 order-1">
                <div class="p-5">
                  <h3 class="display-5">Identifying Redundant Development in Forks</h3>
                  <p>Redundant development wastes effort for both maintainers and developers. INTRUDE is a GitHub bot to detect potentially redundant pull requests. It monitors all pull requests in a repository, and if it finds two pull requests that are very similar, it automatically comments on the issue, pointing out the similarity.
                  </p>
                  <p>Our goal is to identify redundant code changes in forks as early as possible by extracting clues indicating similarities between code changes, and building a machine learning model to predict redundancies.</p>

                  <p>An academic paper describing more technical details and an evaluation has been published:</p>
                  L. Ren, S. Zhou, C. Kästner, and A. Wąsowski. Identifying Redundancies in Fork-based Development. In Proceedings of the 27th IEEE International Conference on Software Analysis, Evolution and Reengineering (SANER), pages 230--241, 2019. <a href="https://www.cs.cmu.edu/~shuruiz/paper/saner19-RedundantDev.pdf"  target="_blank">[pdf]</a> 

                  <br><br>
                  <h3 class="display-5">Subscribe Here</h3>
                  <p>This bot is currently in its alpha stage. We are monitoring a limited number of repositories and are sending a single comment on the first suspected duplicate pull request we find. We hope to offer the bot as a service soon. If you are interested, please <a href="/INTRUDE-subscribe" >subscribe</a>! 
                </p>

                <br> 
                 <h3 class="display-5">INTRUDE Bot Team</h3>
                  <p>We are researchers at <a href-"https://www.cmu.edu/"  target="_blank" >Carnegie Mellon University</a> developing a bot to monitor GitHub projects and alert project maintainers to potentially duplicate pull requests. <a href="https://www.cs.cmu.edu/~shuruiz/"  target="_blank" >Shurui Zhou</a> is a Ph.D. student studying under Professor <a href = "https://www.cs.cmu.edu/~ckaestne/"  target="_blank" >Christian Kästner.</a> Annika Esau is an undergraduate <a href="https://www.cmu.edu/scs/isr/reuse/"  target="_blank" >REU</a> student. </p>


                  <p>INTRUDE comes out of an NSF-funded research project at Carnegie Mellon University, identfying potentially redundant development in open-source software development.
                    INTRUDE is open source and hosted for the community. We would love to hear your ideas and feedback. Explore the <a href="https://github.com/shuiblue/INTRUDE"  target="_blank" >source</a> or <a href="https://github.com/shuiblue/INTRUDE/issues"  target="_blank" >open an issue</a>.</p>



                </div>
              

              </div>
            </div>
     

 
          </div>
        </section>
    
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <!-- <a href="{{ url_for('main.about') }}">Contact</a> &middot; -->
        <a href="https://github.com/shuiblue/INTRUDE"  target="_blank" >INTRUDE on GitHub</a> &middot;
        <a href="https://github.com/shuiblue/INTRUDE/issues"  target="_blank" >Open an Issue</a> 
        <hr>
        <small>Copyright © 2019</small>
      </div>
    </div>
  </footer>
<body>
