<head>
    <link rel="icon" href="{{ url_for('static', filename='img/fav.ico') }}" type="image/x-coin">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/docs.js') }}"></script>
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-social.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/doc.css') }}" rel="stylesheet">

</head>

<body>
<!-- Navigation Begin -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">INTRUDE<sub>alpha</sub> - Identifying Redundant Development in Forks </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--    <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-block btn-social btn-github" onclick="" href="{{ url_for('auth.login') }}">
                      <span class="fa fa-github"></span> Sign in
                    </a>
                </li>

              </ul>
            </div> -->

    </div>
</nav>
<!-- Navigation End -->

<header class="masthead">
    <div class="overlay">
        <div class="container">
            <h1 class="display-1 text-white">INTRUDE<sub>alpha</sub></h1>
            <h2 class="display-4 text-white">Identifying Redundant Development in Forks</h2>
            <br><br>
        </div>
    </div>
</header>


<section>
    <div class="container">
        <br> <br>
        <h2 class="display-5">Thank you so much for your feedback!</h2>
        <br>
        <a href="/INTRUDE-welcome">back to main page</a>

    </div>
</section>

<body>
