{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %} 

    <div class="row">
        <div class="col-md-2">
            <h3 class="text-center">Import your repository
            <hr>
            <form method="POST">
                {{ form.sync_button(class="btn btn-primary") }}
            </form>
            </h3>
        </div>
        <div class="col-md-8 about-information">
            Following is your repos(including upstream repo) on GitHub.
            Select them to load into INFOX.
            <hr>
            <form method="POST">
                {% for field in form %}
                    {% if field.type == "BooleanField" %}
                       {{ field }} {{ field.label }} 
                        <br>
                    {% endif %}
                {% endfor %}
                <h3 class="text-center"> {{ form.load_button(class="btn btn-success") }} </h3>
            </form>            
        </div>
    </div>

    

{% endblock %}

