{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %} 

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Add repositories</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Load from Github</a>
        </li>
    </ol>

    <h3 class="text-center">Load from Github</h3>
    <hr>
    Following is your repos(included upstream repo) on Github.
    Select them to load into INFOX.
    <hr>
    {{ wtf.quick_form(sync_button, button_map={'submit': 'primary'}) }}

    <form method="POST">
        {% for field in form %}
            {% if field.type == "BooleanField" %}
                <h4> {{ field.label }} {{ field }} </h4> <br>
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
    </form>

{% endblock %}

