<!DOCTYPE html><html> <head> <meta charset="utf-8"> <meta name="viewport" content="width=device-width"> <title>Privacy Policy</title> <style>body{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; padding:1em;}</style></head> <body><h2>Privacy Policy</h2> <p> 

	We are collecting your GitHub account information through GitHub OAuth, such as your email address, your watched forks, your public repositories and corresponding source code and documents. We summarize your code changes of each fork and generate an overview of corresponding repository. We won’t share any of your information to third party. Forks-insight comes out of an NSF-funded research project at Carnegie Mellon University, exploring how to improve collaboration and coordination in open-source software development. It is open source and hosted for the community. 

                   <p><strong>Log Data</strong></p> <p> We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer’s Internet Protocol (“IP”) address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, the words you input for retrieval on forks and other statistics. This data will be used for our non-profit research.
                  </p> <p><strong>Changes to This Privacy Policy</strong></p> <p> I may update our Privacy Policy from time to time. Thus, you are advised to review
                    this page periodically for any changes. I will notify you of any changes by posting
                    the new Privacy Policy on this page. These changes are effective immediately after they are posted on
                    this page.
                  </p> <p><strong>Contact Us</strong></p> <p>If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact
                    me.
                  </p>
</body></html>