{% extends "base.html" %}

{% block page_content %} 

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Repo overview </a>
        </li>
        <li class="breadcrumb-item">
          <a href="#"> {{ project.project_name }} </a>
        </li>
    </ol>

    <div class="card mb-3">
      <div class="project-info">
          <div class="col-md-6">
              <div class="project_name" >
                  <a href="{{ "https://github.com/" + project.project_name }}">
                      <h1> {{ project.project_name }}</h1>
                  </a>        
              </div>
              <br>
              <div class="project_info">
                  {% if project.language %}<h4>Language: {{ project.language }}</h4>{% endif %}
                  {% if project.fork_number %}<h4>Fork Number on Github: {{ project.fork_number }}</h4>{% endif %}  
                  {% if project.description %}<h4> Description: </h4> <p> {{ project.description }}</p>{% endif %}
              </div>
          </div>
      </div>

      <div class="row"></div><hr>

      <a href="{{ url_for('.project_overview', project_name = project.project_name) }}">
          <h4><p class="text-center"> Forks of {{ project.project_name }}</p></h4>         
      </a>
      
      {% if (project.analyser_progress) and (project.analyser_progress != "100%") %}
          <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ project.analyser_progress }}" aria-valuemin="0" aria-valuemax="100" style="{{ "min-width: 2em; width:%s" % project.analyser_progress }}">
                  {{ project.analyser_progress }}
              </div>
              Updating ... We will send you an updated email once we are done!
          </div>
      {% endif %}

      <div class="forks-tabs">
          {% include "_forks.html" %}
      </div>
    </div>

{% endblock %}

    

