{% extends "base.html" %}

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
</script>

{% block page_content %} 

    <div class="card mb-3">
      <div class="project-info">
              <div class="project_name text-center">
                <h2>
                  {{ project.project_name }}
                  <a class="btn btn-social-icon btn-twitter" href="{{ 'https://github.com/' + project.project_name }}" target="_blank" data-toggle="tooltip" data-placement="top" title="Github Link">
                    <span class="fa fa-github"></span>
                  </a> 
                </h2>
                <br>
                <div class="project_description text-center"> {{ project.description }} </div>
                <br>
              </div>
            <br>

            <div class="base-info">
                {% with overview_flag=True %}
                  {% include "_project_info.html" %}
                {% endwith %}
            </div>
      </div>

      <div class="row"></div><hr>

      {#
      <a href="{{ url_for('.project_overview', project_name = project.project_name) }}">
          <h4><p class="text-center"> Forks of {{ project.project_name }}</p></h4>         
      </a>
      #}


      {% if (project.analyser_progress) and (project.analyser_progress != "100%") %}
          <div class="progress" style="height: 30px;">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ project.analyser_progress }}" aria-valuemin="0" aria-valuemax="100" style="{{ "min-width: 2em; width:%s" % project.analyser_progress }}">
                  <h3> {{ project.analyser_progress }} <h3>
              </div>
              <h5> ... Updating ... <h5>
          </div>
      {% endif %}

      <div class="forks-tabs">
          {% include "_forks.html" %}
      </div>

    </div>

{% endblock %}

    

