
<head>
    <link rel="icon" href="{{ url_for('static', filename='img/fav.ico')}}" type="image/x-coin">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/docs.js') }}"></script>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/one-page-wonder.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-social.css') }}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/doc.css') }}" rel="stylesheet">
</head>

<body>
        <!-- Navigation Begin -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
            <a class="navbar-brand" href="#">INFOX<sub>beta</sub></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-block btn-social btn-github" onclick="" href="{{ url_for('auth.login') }}">
                      <span class="fa fa-github"></span> Sign in 
                    </a>
                </li>
                
              </ul>
            </div>
    
          </div>
        </nav>
        <!-- Navigation End -->

        <header class="masthead">
          <div class="overlay">
            <div class="container">
              <h1 class="display-1 text-white">INFOX<sub>beta</sub></h1>
              <h2 class="display-4 text-white">Insights into Forks</h2>
              <br><br>
              <p class="text-white">Overwhelmed with the activities in forks of a project? <br> Which forks are active? <br>Which contain interesting ideas? <br> Which contain already finished features to build upon, rather than reimplement?
            </p>
            </div>
          </div>
        </header>
    
     
    
        <section>
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="p-5">
                  <img class="img-fluid rounded" src="{{ url_for('static', filename='img/overview.png') }}" alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="p-5">
                  <h3 class="display-5">Concise Overview a Project's Forks</h3>
                  <p>Explore a compact list of all forks highlighting key insights, rather than scrolling forever in a network graph. We sift all forks and summarize changes with statistics and representative keywords. Sort forks by activity volume and recency or search for keywords.</p>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-6 order-2">
                <div class="p-5">
                  <img class="img-fluid rounded" src="{{ url_for('static', filename='img/tagging.png') }}" alt="">
                </div>
              </div>
              <div class="col-md-6 order-1">
                <div class="p-5">
                  <h3 class="display-5">Label and Monitor Forks</h3>
                  <p>Identify and label forks with interesting activities, for example to scout for ideas and pull requests.
                  Monitor interesting forks to keep up with changes. Track the activity of an entire community on GitHub. Get started by <a href="{{ url_for('auth.login') }}">signing in</a> with your GitHub account.</p>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-12 order-1">
                <div class="p-5">
                  <h3 class="display-5">Research and Contribution</h3>
                  <p>INFOX comes out of an NSF-funded research project at Carnegie Mellon University, exploring how to improve collaboration and coordination in open-source software development.
                  	INFOX is open source and hosted for the community. We would love to hear your ideas and feedback. Explore the <a href="https://github.com/FancyCoder0/INFOX">source</a> or <a href="https://github.com/FancyCoder0/INFOX/issues">open an issue</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
    
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <a href="{{ url_for('main.about') }}">Contact</a> &middot;
        <a href="https://github.com/FancyCoder0/INFOX">INFOX on GitHub</a> &middot;
        <a href="https://github.com/FancyCoder0/INFOX/issues">Open an Issue</a> 
        <hr>
        <small>Copyright © 2017</small>
      </div>
    </div>
  </footer>
<body>
